:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2758px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.nav {
  position: relative;
  width: 1440px;
  height: 91px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 16;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  a {
    text-decoration: none; /* No underline */
  }
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 254px;
  height: 68.8px;
  top: 9px;
  left: 65px;
  z-index: 17;
}
.logo-light {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  height: 68.8px;
  padding: 12px 0 12px 0;
  background: url('/static/images/cd8d08c6-6dd8-4a5d-9930-5e6baac29553.png');

  background-size: cover;
  z-index: 18;
  overflow: hidden;
}
.list-item-link {
  position: absolute;
  width: 160px;
  height: 47px;
  top: 23px;
  left: 1185px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 284;
  border-radius: 50px;
}
.frame-1 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  z-index: 27;
}
.symbol {
  flex-shrink: 0;
  position: relative;
  width: 13.35px;
  height: 13px;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 13px;
  font-weight: 900;
  line-height: 13px;
  background: url('/static/images/6ee642df-8944-427a-b2a6-e156892cc66c.png');
  
  background-size: cover;
  z-index: 28;
}
.how-to-protect {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 118.553px;
  height: 19px;
  color: #3747bd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 29;
}
.frame-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 41px;
  position: absolute;
  width: 512.55px;
  height: 19px;
  top: 38px;
  left: 555px;
  z-index: 19;
}
.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 41.576px;
  height: 19px;
  color: #3747bd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.78px;
  z-index: 20;
  margin-left: -28px;
}
.about-us {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 71.059px;
  height: 19px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.78px;
  z-index: 21;
  margin-left: 22px;

}
.upload {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 58px;
  height: 19px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.78px;
  z-index: 22;
  margin-left: 18px;
}
.faq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 29.154px;
  height: 19px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.78px;
  z-index: 23;
  margin-left: 9px;
}
.blog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 37.954px;
  height: 19px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.78px;
  z-index: 24;
  margin-left: 75px;
}

.flex-row {
  position: relative;
  width: 1440px;
  height: 449px;
  margin: 0 0 0 0;
  font-size: 0px;
  z-index: 15;
  overflow: visible auto;
}
.heading-about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 198.834px;
  height: 48px;
  margin: 190px 0 0 620.75px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 3;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3747bd;
  opacity: 0.7;
  z-index: 1;
}
.background-3 {
  position: absolute;
  width: 19.72%;
  height: 12.47%;
  top: 56.35%;
  left: 40.14%;
  background: #ffffff;
  opacity: 0.2;
  z-index: 5;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 48px;
  height: 26px;
  top: 268px;
  left: calc(50% - -63.89px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 14;
}
.home-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 44.505px;
  height: 20px;
  top: 271px;
  left: calc(50% - 91.27px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 8;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 45.037px;
  height: 20px;
  top: 271px;
  left: calc(50% - 13.45px);
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 11;
}
.symbol-5 {
  position: absolute;
  width: 16.134px;
  height: 14px;
  top: 274px;
  left: 50%;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  background: url('/static/images/4a28f2fb-8d5d-4677-8c82-044ee18ae975.png');
  background-size: cover;
  transform: translate(-694.29%, 0);
  z-index: 7;
}
.border {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 684.55px;
  border: 2px solid #ffffff;
  transform: translate(0, 515%);
  z-index: 12;
  border-radius: 5px;
}
.border-6 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 762.89px;
  border: 2px solid #ffffff;
  transform: translate(0, 515%);
  z-index: 15;
  border-radius: 5px;
}
.flex-row-efc {
  position: relative;
  width: 1193px;
  height: 568px;
  margin: 86px 0 0 169px;
  z-index: 84;
}
.div {
  position: absolute;
  width: 40.36%;
  height: 481.5px;
  top: 50%;
  left: 0;
  background: url('/static/images/befa8a69-1cc8-4e9a-b81a-4224b2b64b51.png') no-repeat center;

  background-size: cover;
  transform: translate(0, -58.98%);
  z-index: 83;
  overflow: hidden;
  border-radius: 240.75px;
}
.span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 95px;
  left: 562px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 31;
  overflow: hidden;
}
.span-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 523.22px;
  height: 91px;
  top: 162px;
  right: 105.78px;
  left: 564px;
  color: #232323;
  font-family: Open Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  z-index: 33;
}
.span-8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 546px;
  height: 139px;
  top: 288px;
  left: 564px;
  color: #666666;
  font-family: Open Sans, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 34;
}
.div-9 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  background: url('/static/images/c3ef5d5f-17cd-4df1-ba5c-5d8187c0b743.png') no-repeat center;

  background-size: cover;
  transform: translate(-134.25%, 42%);
  z-index: 84;
  overflow: hidden;
}
.div-a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 1440px;
  height: 946px;
  margin: 86px 0 0 0;
  padding: 80px 61px 80px 61px;
  z-index: 38;
}
.div-b {
  flex-shrink: 0;
  position: absolute;
  height: 946px;
  top: 0;
  right: 0;
  left: 0;
  background: #002359;
  z-index: 39;
}
.div-c {
  position: relative;
  width: 1440px;
  height: 946px;
  margin: 0 0 0 -2px;
  background: url('/static/images/9c2ebf22-141d-47b8-82a5-a39eaf855c97.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 40;
}
.div-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 76px;
  position: relative;
  width: 1300.547px;
  z-index: 41;
}
.div-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 76px;
  position: relative;
  min-width: 0;
  z-index: 42;
}
.div-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 26px;
  position: relative;
  z-index: 43;
}
.span-10 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 42px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 44;
}
.span-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 1300.547px;
  height: 42px;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  z-index: 45;
}
.div-12 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 48px;
  position: relative;
  width: 1233px;
  height: 558.75px;
  z-index: 46;
}
.div-13 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1233px;
  z-index: 47;
}
.div-14 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1260px;
  z-index: 48;
}
.div-15 {
  flex-shrink: 0;
  position: relative;
  width: 630px;
  height: 450px;
  background: url('/static/images/dee1c77692f0d27bbe3fd971d18cc396a892ad10.png') no-repeat center;

  background-size: cover;
  z-index: 49;
}
.div-16 {
  flex-shrink: 0;
  position: relative;
  width: 585px;
  height: 559px;
  z-index: 50;
}
.div-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;
  width: 555px;
  margin: 0 0 0 15px;
  z-index: 51;
}
.div-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 35px;
  position: relative;
  min-width: 0;
  z-index: 52;
}
.div-19 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 383.08px;
  z-index: 53;
}
.button {
  flex-shrink: 0;
  position: relative;
  width: 96.17px;
  height: 46px;
  cursor: pointer;
  background: #3747bd;
  border: none;
  z-index: 54;
  border-radius: 4px;
  box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}
.span-1a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 14px;
  left: 30px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 55;
}
.button-1b {
  flex-shrink: 0;
  position: relative;
  width: 127.47px;
  height: 46px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 56;
  border-radius: 4px;
  box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}
.span-1c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 14px;
  left: 30px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 57;
}
.button-1d {
  flex-shrink: 0;
  position: relative;
  width: 135.44px;
  height: 46px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 58;
  border-radius: 4px;
  box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}
.protection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 14px;
  left: 30px;
  color: #002359;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 59;
}
.background-shadow {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 514px;
  background: #ffffff;
  z-index: 60;
  box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}
.group {
  position: relative;
  width: 445.344px;
  height: 26px;
  margin: 116.5px 0 0 50.453px;
  z-index: 66;
}
.how-does-tb-spread {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  color: #333333;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.symbol-1e {
  position: absolute;
  width: 12.844px;
  height: 24px;
  top: 2px;
  left: 432.5px;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  background: url('/static/images/20862520-f092-4e91-93cd-b5df1fa852ee.png') no-repeat center;

  background-size: cover;
  z-index: 68;
}
.heading-link {
  position: relative;
  width: 455px;
  height: 29.19px;
  margin: 80.69px 0 0 50px;
  z-index: 73;
}
.main-symptoms-tb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 2.81px;
  left: 0;
  color: #333333;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.symbol-1f {
  position: absolute;
  width: 12.844px;
  height: 24px;
  top: 5px;
  left: 432.5px;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  background: url('/static/images/abcff9e2-abde-43b3-b202-5326fe46dc70.png') no-repeat center;

  background-size: cover;
  z-index: 75;
}
.main-symptoms-tb-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 457px;
  height: 51px;
  margin: -0.13px 0 0 50.226px;
  color: #666666;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 70;
}
.group-20 {
  position: relative;
  width: 445.344px;
  height: 26px;
  margin: 10px 0 0 52.226px;
  z-index: 76;
}
.how-is-tb-diagnosed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  color: #333333;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}
.symbol-21 {
  position: absolute;
  width: 12.844px;
  height: 24px;
  top: 2px;
  left: 432.5px;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  background: url('/static/images/f827dce4-e720-4a35-8d27-18e1127095d7.png') no-repeat center;

  background-size: cover;
  z-index: 78;
}
.tb-diagnosed-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 457px;
  height: 51px;
  margin: 0 0 0 50.226px;
  color: #666666;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 71;
}
.background-22 {
  position: relative;
  width: 455px;
  height: 29.19px;
  margin: 6.32px 0 0 50px;
  background: #ffffff;
  z-index: 79;
}
.heading-link-23 {
  position: absolute;
  height: 29.19px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 80;
}
.can-tb-be-cured {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 3px;
  left: 0;
  color: #333333;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.cured-tb-text {
  position: absolute;
  width: 12.844px;
  height: 24px;
  top: 5px;
  left: 432.5px;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  background: url('/static/images/9314a1c2-d6f3-4c05-b85e-842ca2cbf4c5.png') no-repeat center;

  background-size: cover;
  z-index: 82;
}
.cured-tb-text-24 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 457px;
  height: 69px;
  margin: 1.49px 0 0 52.226px;
  color: #666666;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 72;
}
.heading-link-25 {
  position: absolute;
  height: 29.19px;
  top: 23.25px;
  right: 49.774px;
  left: 50.226px;
  z-index: 61;
}
.what-is-tb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 3px;
  left: 0;
  color: #333333;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.tb-description {
  position: absolute;
  width: 12.844px;
  height: 24px;
  top: 5px;
  left: 432.5px;
  font-family: Font Awesome 5 Free, var(--default-font-family);
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  background: url('/static/images/b39f36e1-f8d9-4f6b-9cd6-09a809d049ec.png') no-repeat center;

  background-size: cover;
  z-index: 63;
}
.tb-description-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 480px;
  height: 78px;
  top: 37.25px;
  left: 50.226px;
  color: #666666;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 64;
}
.tb-spreads-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 457px;
  height: 78px;
  top: 138.25px;
  left: 50.226px;
  color: #666666;
  font-family: Open Sans, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 69;
}
.background-26 {
  position: absolute;
  height: 29.19px;
  top: 164.31px;
  right: 24.547px;
  left: 50.453px;
  background: #ffffff;
  z-index: 65;
}
.footer {
  position: relative;
  width: 1444px;
  height: 532px;
  margin: 0 0 0 -4px;
  background: #002359;
  z-index: 85;
  overflow: visible auto;
}
.flex-row-bbb {
  position: relative;
  width: 1090.128px;
  height: 164.6px;
  margin: 108px 0 0 150px;
  z-index: 143;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 47px;
  position: absolute;
  width: 351px;
  height: 159.8px;
  top: 0;
  left: 0;
  z-index: 143;
}
.group-28 {
  flex-shrink: 0;
  position: relative;
  width: 254px;
  height: 44.8px;
  z-index: 144;
}
.frame-29 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 254px;
  margin: 0 0 0 0;
  z-index: 145;
}
.group-2a {
  flex-shrink: 0;
  position: relative;
  width: 64.001px;
  height: 44.8px;
  background: url('/static/images/4fa19664-955f-41e1-891d-219cce635792.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 146;
}
.group-2b {
  flex-shrink: 0;
  position: relative;
  width: 182.347px;
  height: 25.539px;
  z-index: 147;
}
.vector {
  position: absolute;
  width: 14.41%;
  height: 99.98%;
  top: 0%;
  left: 58.99%;
  background: url('/static/images/c1c74c48-b938-425b-b08f-11606e19e40d.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 149;
}
.vector-2c {
  position: absolute;
  width: 7.2%;
  height: 99.93%;
  top: 0.04%;
  left: 92.8%;
  background: url('/static/images/3ddb369e-7064-49a5-be18-36326a68aafa.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 152;
}
.vector-2d {
  position: absolute;
  width: 7.03%;
  height: 99.91%;
  top: 0.07%;
  left: 83.41%;
  background: url('/static/images/da70580e-7513-4340-b316-360fb345658c.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 151;
}
.vector-2e {
  position: absolute;
  width: 11.08%;
  height: 99.8%;
  top: 0.2%;
  left: 38.19%;
  background: url('/static/images/5c4936d5-454a-40ab-abb7-099dbb7508fe.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 148;
}
.vector-2f {
  position: absolute;
  width: 7.69%;
  height: 99.73%;
  top: 0.24%;
  left: 74.56%;
  background: url('/static/images/220c9571-dfe2-4927-b388-b41545695f9f.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 150;
}
.vector-30 {
  position: absolute;
  width: 10.54%;
  height: 98.75%;
  top: 1.2%;
  left: 0;
  background: url('/static/images/74559c48-d895-45d9-9781-24e878e0bdec.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 153;
}
.vector-31 {
  position: absolute;
  width: 7.4%;
  height: 98.64%;
  top: 1.33%;
  left: 11.92%;
  background: url('/static/images/279b5b4a-5f9a-4a8e-9e09-360b56df7be5.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 154;
}
.vector-32 {
  position: absolute;
  width: 9.14%;
  height: 98.64%;
  top: 1.33%;
  left: 20%;
  background: url('/static/images/ba9bada4-9134-483a-a329-bdcbf5b8b97f.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 155;
}
.vector-33 {
  position: absolute;
  width: 7.69%;
  height: 98.64%;
  top: 1.33%;
  left: 29.98%;
  background: url('/static/images/55a4d83d-403c-4a28-8a3f-dcb83c6b4821.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 156;
}
.vector-34 {
  position: absolute;
  width: 8.83%;
  height: 98.53%;
  top: 1.33%;
  left: 49.49%;
  background: url('/static/images/035960a9-9910-4b48-9a7d-26d534697277.png') no-repeat center;

  background-size: 100% 100%;
  z-index: 157;
}
.dedicated-to-pioneering {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 351px;
  min-width: 0;
  height: 68px;
  color: #dddddd;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  z-index: 158;
}
.quick-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 10px;
  left: 585px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 95;
}
.resources {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 10px;
  left: 774px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 107;
}
.helpful-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 10px;
  left: 975px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 119;
}
.home-35 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 67.6px;
  left: 585px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.who-website {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 67.6px;
  left: 780px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.situation-reports {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 67.6px;
  left: 975px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 122;
}
.about-us-36 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 106.6px;
  left: 585px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.cdc-website {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 106.6px;
  left: 780px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.advice-for-public {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 106.6px;
  left: 975px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 124;
}
.upload-37 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 145.6px;
  left: 585px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.nhs-website {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 145.6px;
  left: 780px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 114;
}
.prevention {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 145.6px;
  left: 975px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 126;
}
.flex-row-d {
  position: relative;
  width: 543.229px;
  height: 19px;
  margin: 20px 0 0 735px;
  z-index: 128;
}
.features {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 0;
  left: 0;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.harvard-health {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 0;
  left: 195px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.tb-symptoms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 0;
  left: 390px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}
.flex-row-be {
  position: relative;
  width: 1084.839px;
  height: 47.6px;
  margin: -8.6px 0 0 150px;
  z-index: 130;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 215.67px;
  height: 47.6px;
  top: 0;
  left: 0;
  z-index: 93;
}
.item-link {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #3b5998;
  border: none;
  z-index: 87;
  border-radius: 22.5px;
}
.symbol-38 {
  position: absolute;
  width: 7.576px;
  height: 14px;
  top: 15px;
  left: 18.89px;
  font-family: Font Awesome 5 Brands, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background: url('/static/images/d436da12-3d10-41dd-bc59-e0788d956234.png') no-repeat center;

  background-size: cover;
  z-index: 88;
}
.item-link-39 {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  background: #1da1f2;
  z-index: 89;
  border-radius: 22.5px;
}
.symbol-3a {
  position: absolute;
  width: 14.363px;
  height: 14px;
  top: 15px;
  left: 15.5px;
  font-family: Font Awesome 5 Brands, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background: url('/static/images/4364fd3f-2296-466e-b792-488108f0e7d8.png') no-repeat center;

  background-size: cover;
  z-index: 90;
}
.item-link-3b {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  background: #bd081c;
  z-index: 91;
  border-radius: 22.5px;
}
.symbol-3c {
  position: absolute;
  width: 13.917px;
  height: 14px;
  top: 15px;
  left: 15.72px;
  font-family: Font Awesome 5 Brands, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background: url('/static/images/072a621a-d02d-4c7e-a807-6874ca5b30b1.png') no-repeat center;

  background-size: cover;
  z-index: 92;
}
.item-link-3d {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #0077b5;
  border: none;
  z-index: 93;
  border-radius: 22.5px;
}
.symbol-3e {
  position: absolute;
  width: 12.591px;
  height: 14px;
  top: 15px;
  left: 16.38px;
  font-family: Font Awesome 5 Brands, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background: url('/static/images/7e94f9a6-c12c-4da7-aab7-6a4b2b5e2028.png') no-repeat center;

  background-size: cover;
  z-index: 94;
}
.blog-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 28.6px;
  left: 585px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.history {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 28.6px;
  left: 780px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.donor-partners {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 28.6px;
  left: 975px;
  color: #dddddd;
  font-family: Poppins, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.flex-row-ebc {
  position: relative;
  width: 1076.06px;
  height: 26px;
  margin: 140.4px 0 0 150px;
  z-index: 142;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 132;
}
.faq-3f {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 27.896px;
  height: 20px;
  top: 3px;
  right: 121.464px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 136;
}
.contact-40 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 67.353px;
  height: 20px;
  top: 3px;
  right: 20.577px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 139;
}
.vertical-divider {
  position: absolute;
  width: 2px;
  height: 15px;
  top: 5px;
  left: 973.13px;
  z-index: 140;
}
.vertical-divider-41 {
  position: absolute;
  width: 2px;
  height: 15px;
  top: 5px;
  right: 0;
  z-index: 142;
}
.background-42 {
  position: absolute;
  height: 449px;
  top: 91px;
  right: 0;
  left: 0;
  background: url('/static/images/a32492172dc5f826001bfa939cf9bdb8582cbc00.png') no-repeat center;

}
