.nav {
    background: #ffffff;
    border-style: solid;
    border-color: #666666;
    border-width: 0px 0px 1px 0px;
    width: 1512px;
    height: 91px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.04);
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    position: absolute;
    left: 65px;
    top: 1px;
  }
  .logo-light-png {
    padding: 0px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .group3 {
    flex-shrink: 0;
    width: 254px;
    height: 44.8px;
    position: relative;
    overflow: visible;
  }
  .frame-12 {
    display: flex;
    flex-direction: row;
    gap: 41px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 555px;
    top: 38px;
  }
  
  .frame-12 a {
    text-decoration: none; /* Remove underline from links */
  }
  
  .home2 {
    color: #000000;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 41.58px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;  /* This removes the underline */
  }
  
  
  .about-us2 {
    color: #002359;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 83px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .upload {
    color: #002359;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 58px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .faq2 {
    color: #002359;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 29.15px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .blog {
    color: #002359;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 37.95px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .contact2 {
    color: #002359;
    text-align: left;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.78px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 69.81px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .list-item-link {
    border-radius: 30px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 14px 25px 14px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 125px;
    position: absolute;
    left: 1267px;
    top: 24px;
  }
  .frame-103 {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .symbol10 {
    color: #3747bd;
    text-align: left;
    font-family: "FontAwesome5Free-Solid", sans-serif;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    width: 13.35px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .how-to-protect {
    width: 150px;
    position: relative;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Poppins;
    color: #3747bd;
    text-align: left;
    display: flex;
    align-items: center;
    height: 19px;
  }
  
  