<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
</head>
  <body>
    <div class="main-container">
      <div class="nav">
        <div class="frame"><div class="logo-light"></div></div>
        <button class="list-item-link">
          <div class="frame-1">
            <div class="symbol"></div>
            <span class="how-to-protect"> How to Protect</span>
          </div>
        </button>
        <div class="frame-2">
          <a href="{{ url_for('home') }}">
            <div class="nav-link home">Home</div>
        </a>
        <a href="{{ url_for('upload') }}">
            <div class="nav-link upload">Upload</div>
        </a>
        <a href="{{ url_for('about_us') }}">
            <div class="nav-link about-us">About Us</div>
        </a>
        <a href="{{ url_for('prevention') }}">
            <div class="nav-link faq">Prevention</div>
        </a>
        
        
        </div>
      </div>
      <div class="flex-row">
        <span class="heading-about-us">About Us</span>
        <div class="background"></div>
        <div class="background-3"></div>
        <span class="about">About</span><span class="home-4"> Home</span
        ><span class="pages">Pages</span>
        <div class="symbol-5"></div>
        <div class="border"></div>
        <div class="border-6"></div>
      </div>
      <div class="flex-row-efc">
        <div class="div"></div>
        <span class="span"
          >Tuberculosis (TB) is an infectious disease<br /></span
        ><span class="span-7"
          >TB (tuberculosis) is affecting 200 countries and territories around
          the world and 3 international conveyances.</span
        ><span class="span-8"
          >TB (tuberculosis) is a significant global health concern, affecting
          millions across the world. The projections highlight the ongoing
          challenge it poses, especially in countries with high burden. Despite
          efforts, the disease remains a persistent issue, with both treatment
          and prevention requiring urgent attention. However, the impact of TB
          continues to be underestimated in some regions, and comprehensive
          measures are necessary to combat it</span
        >
        <div class="div-9"></div>
      </div>
      <div class="div-a">
        <div class="div-b"><div class="div-c"></div></div>
        <div class="div-d">
          <div class="div-e">
            <div class="div-f">
              <span class="span-10">Frequently Asked Questions</span
              ><span class="span-11"
                >Discover essential information to understand TB better.</span
              >
            </div>
            <div class="div-12">
              <div class="div-13">
                <div class="div-14">
                  <div class="div-15"></div>
                  <div class="div-16">
                    <div class="div-17">
                      <div class="div-18">
                        <div class="div-19">
                          <button class="button">
                            <span class="span-1a">Basic</span></button
                          ><button class="button-1b">
                            <span class="span-1c">Symptoms</span></button
                          ><button class="button-1d">
                            <span class="protection">Protection</span>
                          </button>
                        </div>
                        <div class="background-shadow">
                          <div class="group">
                            <span class="how-does-tb-spread"
                              >How does TB spread?</span
                            >
                            <div class="symbol-1e"></div>
                          </div>
                          <div class="heading-link">
                            <span class="main-symptoms-tb"
                              >What are the main symptoms of TB?</span
                            >
                            <div class="symbol-1f"></div>
                          </div>
                          <span class="main-symptoms-tb-text"
                            >The main symptoms of TB include a persistent cough,
                            chest pain, night sweats, fever, and unintentional
                            weight loss.</span
                          >
                          <div class="group-20">
                            <span class="how-is-tb-diagnosed"
                              >How is TB diagnosed?</span
                            >
                            <div class="symbol-21"></div>
                          </div>
                          <span class="tb-diagnosed-text"
                            >TB is diagnosed through a combination of a skin
                            test (Mantoux test), chest X-ray, and laboratory
                            tests on sputum samples to detect the
                            bacteria.</span
                          >
                          <div class="background-22">
                            <div class="heading-link-23">
                              <span class="can-tb-be-cured"
                                >Can TB be cured?</span
                              >
                              <div class="cured-tb-text"></div>
                            </div>
                          </div>
                          <span class="cured-tb-text-24"
                            >Yes, TB can be cured with a proper course of
                            antibiotics, usually over 6 to 9 months. It is
                            essential to complete the full treatment to prevent
                            drug resistance.</span
                          >
                          <div class="heading-link-25">
                            <span class="what-is-tb"
                              >What is tuberculosis (TB)?</span
                            >
                            <div class="tb-description"></div>
                          </div>
                          <span class="tb-description-text"
                            >TB is a contagious disease caused by the
                            Mycobacterium tuberculosis bacteria, primarily
                            affecting the lungs but can also impact other parts
                            of the body.</span
                          ><span class="tb-spreads-text"
                            >Tuberculosis (TB) spreads through the air when an
                            infected person coughs, sneezes, or talks. The
                            bacteria are inhaled by those nearby, leading to
                            potential infection.</span
                          >
                          <div class="background-26"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="flex-row-bbb">
          <div class="frame-27">
            <div class="group-28">
              <div class="frame-29">
                <div class="group-2a"></div>
                <div class="group-2b">
                  <div class="vector"></div>
                  <div class="vector-2c"></div>
                  <div class="vector-2d"></div>
                  <div class="vector-2e"></div>
                  <div class="vector-2f"></div>
                  <div class="vector-30"></div>
                  <div class="vector-31"></div>
                  <div class="vector-32"></div>
                  <div class="vector-33"></div>
                  <div class="vector-34"></div>
                </div>
              </div>
            </div>
            <span class="dedicated-to-pioneering"
              >Dedicated to pioneering innovative technologies for accurate
              tuberculosis diagnosis. Together, we strive for a world free from
              tuberculosis and improved health for all.</span
            >
          </div>
          <span class="quick-link">Quick Link</span
          ><span class="resources">Resources</span
          ><span class="helpful-link">Helpful Link</span
          ><span class="home-35">Home</span
          ><span class="who-website">WHO Website</span
          ><span class="situation-reports">Situation Reports</span
          ><span class="about-us-36">About us</span
          ><span class="cdc-website">CDC Website</span
          ><span class="advice-for-public">Advice For Public</span
          ><span class="upload-37">Upload</span
          ><span class="nhs-website">NHS Website</span
          ><span class="prevention">Prevention</span>
        </div>
        <div class="flex-row-d">
          <span class="features">Features</span
          ><span class="harvard-health">Harvard Health</span
          ><span class="tb-symptoms">TB Symptoms</span>
        </div>
        <div class="flex-row-be">
          <div class="regroup">
            <button class="item-link"><div class="symbol-38"></div></button>
            <div class="item-link-39"><div class="symbol-3a"></div></div>
            <div class="item-link-3b"><div class="symbol-3c"></div></div>
            <button class="item-link-3d"><div class="symbol-3e"></div></button>
          </div>
          <span class="blog-page">Blog Page</span
          ><span class="history">History</span
          ><span class="donor-partners">Donor & Partners</span>
        </div>
        <div class="flex-row-ebc">
          <span class="copyright">© Copyright 2024</span
          ><span class="faq-3f">Faq</span
          ><span class="contact-40">Contact</span>
          <div class="vertical-divider"></div>
          <div class="vertical-divider-41"></div>
        </div>
      </div>
      <div class="background-42"></div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
