<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prevention</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@900&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font+Awesome+5+Brands:wght@400&display=swap" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}" />
  </head>
  <body>
    <div class="main-container">
      <div class="desktop">
        <div class="group-1">
          <div class="flex-row-e">
            <div class="logo-light"></div>
            <button class="group-2">
              <div class="list-item-link">
                <div class="frame">
                  <span class="how-to-protect"> How to Protect</span>
                  <div class="symbol"></div>
                </div>
              </div></button>
              <a href="{{ url_for('upload') }}"><span class="upload">Upload</span></a>
              <a href="{{ url_for('about_us') }}"><span class="about-us">About Us</span></a>
            <a href="{{ url_for('prevention') }}"><span class="faq">Prevention</span></a>
            <a href="{{ url_for('home') }}"><span class="home">Home</span></a>
           
          </div>
          <div class="background">
            <span class="heading-prevention">Prevention</span>
            <div class="background-3"></div>
            <button class="button-background"></button>
            <div class="item">
              <div class="link"><span class="pages">Pages</span></div>
              <div class="border"></div>
            </div>
            <div class="item-4">
              <span class="prevention">Prevention</span>
              <div class="border-5"></div>
            </div>
            <div class="item-link">
              <span class="home-6"> Home</span>
              <div class="symbol-7"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-8">
        <div class="flex-row-ecb">
          <div class="frame-9">
            <span class="heading-corona-virus-symptoms"
              >Tuberculosisis Virus Symptoms</span
            >
            <div class="icon-sm-light"></div>
          </div>
          <div class="container">
            <div class="frame-a"></div>
            <div class="horizontal-divider"></div>
            <div class="horizontal-divider-b"></div>
          </div>
          <span class="tb-symptoms-text"
            >Comprehensive Guide to Recognizing the Symptoms of Tuberculosis Virus for Early Detection and Treatment.
            .</span
          >
        </div>
        <div class="flex-row-eaf">
          <div class="background-border">
            <div class="background-border-c"><div class="image"></div></div>
          </div>
          <div class="background-border-d">
            <div class="background-border-e"><div class="image-f"></div></div>
          </div>
          <div class="background-border-10">
            <div class="background-border-11"><div class="image-12"></div></div>
          </div>
          <div class="frame-13">
            <div class="container-14"><div class="symbol-15"></div></div>
            <div class="container-16"><div class="symbol-17"></div></div>
          </div>
          <div class="frame-18">
            <div class="frame-19">
              <span class="heading-coughing-sneezing">Persistent Cough</span
              ><span class="lasting-cough"
                >Lasting over three weeks, this cough can produce mucus or
                blood, resulting from lung tissue damage</span
              >
            </div>
            <div class="frame-1a">
              <span class="heading-hot-fever">Chest Pain</span
              ><span class="chest-pain"
                >Pain in the chest that worsens with coughing or deep breaths,
                caused by inflammation in the lungs​</span
              >
            </div>
            <div class="frame-1b">
              <span class="heading-strong-headache">Fatigue and Weakness</span
              ><span class="fatigue-weakness"
                >The immune response to TB infection drains energy, causing
                lasting tiredness and weakness.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="frame-1c">
        <div class="frame-1d">
          <div class="background-1e"><div class="border-1f"></div></div>
          <div class="frame-20">
            <div class="frame-21">
              <div class="frame-22">
                <div class="background-shadow">
                  <button class="heading">
                    <span class="things-you-should-do"
                      >Things You Should Do</span
                    >
                  </button>
                  <div class="list">
                    <div class="frame-23">
                      <div class="item-24">
                        <div class="background-shadow-25">
                          <div class="hand-wash">
                            <div class="hand-wash-fill">
                              <div class="image-26"></div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-column">
                          <span class="heading-clean-hands"
                            >Seek Medical Attention</span
                          ><span class="seek-medical-attention"
                            >Consult a healthcare provider if you have symptoms
                            like a persistent cough or unexplained weight loss.
                            Early diagnosis is essential for effective
                            treatment​</span
                          >
                        </div>
                      </div>
                      <div class="item-27">
                        <div class="background-shadow-28">
                          <div class="toilet-paper">
                            <div class="toilet-paper-fill">
                              <div class="image-29"></div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-column-fd">
                          <span class="heading-use-paper-tissues"
                            >Get Tested:</span
                          ><span class="get-tested"
                            >TB testing is crucial for early detection,
                            especially if you're at high risk or have been in
                            close contact with someone who has TB.</span
                          >
                        </div>
                      </div>
                      <div class="item-2a">
                        <div class="background-shadow-2b">
                          <div class="man-svg">
                            <div class="man-svg-fill">
                              <div class="image-2c"></div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-column-ec">
                          <span class="heading-wear-a-mask">Wear a Mask</span
                          ><span class="wearing-a-mask"
                            >Wearing a mask helps reduce the spread of TB
                            bacteria through respiratory droplets, especially in
                            close-contact or crowded areas.</span
                          >
                        </div>
                      </div>
                      <div class="item-2d">
                        <div class="background-shadow-2e">
                          <div class="sneeze-svg">
                            <div class="sneeze-svg-fill">
                              <div class="image-2f"></div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-column-b">
                          <span class="heading-cover-nose-when-sneezing"
                            >Cover Nose When Sneezing</span
                          ><span class="use-tissues-or-your-elbow"
                            >Use tissues or your elbow to cover your mouth and
                            nose, limiting the spread of respiratory
                            droplets.</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="background-shadow-30">
                  <div class="frame-31">
                    <button class="heading-32">
                      <span class="things-you-should-avoid"
                        >Things You Should avoid</span
                      >
                    </button>
                    <div class="list-33">
                      <div class="frame-34">
                        <div class="item-35">
                          <div class="background-shadow-36">
                            <div class="handshake-svg">
                              <div class="handshake-svg-fill">
                                <div class="image-37"></div>
                              </div>
                            </div>
                          </div>
                          <div class="flex-column-fad">
                            <span class="heading-shake-hands"
                              >Ignoring Symptoms</span
                            ><span class="ignoring-symptoms"
                              >Don’t overlook persistent symptoms like a
                              prolonged cough, fever, or night sweats; seek
                              medical attention promptly for diagnosis.</span
                            >
                          </div>
                        </div>
                        <div class="item-38">
                          <div class="background-shadow-39">
                            <div class="keep-distance-svg">
                              <div class="keep-distance-svg-fill">
                                <div class="image-3a"></div>
                              </div>
                            </div>
                          </div>
                          <div class="flex-column-3b">
                            <span class="heading-keep-your-distance"
                              >Close Contact with Infected Individuals</span
                            ><span
                              class="close-contact-with-infected-individuals"
                              >TB spreads through the air, so limit interaction
                              with anyone diagnosed with active TB to prevent
                              transmission.</span
                            >
                          </div>
                        </div>
                        <div class="item-3c">
                          <div class="background-shadow-3d">
                            <div class="rhinoplasty-svg">
                              <div class="rhinoplasty-svg-fill">
                                <div class="image-3e"></div>
                              </div>
                            </div>
                          </div>
                          <div class="flex-column-b-3f">
                            <span class="heading-dont-touch-your-face-or-nose"
                              >Crowded and Poorly Ventilated Spaces</span
                            ><span class="crowded-and-poorly-ventilated-spaces"
                              >Avoid being in crowded or poorly ventilated areas
                              where TB bacteria can linger in the air.</span
                            >
                          </div>
                        </div>
                        <div class="item-40">
                          <div class="background-shadow-41">
                            <div class="crowd-svg">
                              <div class="crowd-svg-fill"></div>
                            </div>
                          </div>
                          <div class="flex-column-42">
                            <span class="avoid-crowded-places"
                              >Smoking and Excessive Alcohol Use</span
                            ><span class="weaken-immune-system"
                              >Both can weaken your immune system, increasing
                              susceptibility to infections like TB.</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="image-43"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-44">
        <div class="rectangle"></div>
        <div class="group-45">
          <div class="container-46">
            <div class="frame-47">
              <div class="group-48">
                <span class="protect-yourself">How to protect yourself</span
                ><span class="mirth-large"
                  >Essential Tips for Protecting Yourself from Tuberculosis Virus: Prevention and Safety Measures for a Healthier Life</span
                >
              </div>
            </div>
            <div class="icon-sm"></div>
            <div class="horizontal-divider-49"></div>
            <div class="horizontal-divider-4a"></div>
          </div>
          <div class="flex-row">
            <div class="group-4b"><div class="image-4c"></div></div>
            <div class="group-4d">
              <div class="list-4e">
                <span class="get-vaccinated">Get Vaccinated</span>
                <div class="bcg-vaccine">
                  <div class="symbol-4f"></div>
                  <span class="handwashing-respiratory-hygiene"
                    >Consider receiving the BCG vaccine if you are in a region
                    with high TB prevalence, as it can reduce the risk of severe
                    TB disease, especially in children​</span
                  ><span class="wearing-mask"
                    >Regular handwashing and proper respiratory hygiene, like
                    covering your mouth when coughing, are essential in
                    preventing the spread of germs​</span
                  ><span class="balanced-diet"
                    >In crowded places or when near someone with active TB,
                    wearing a mask can help reduce your exposure to infectious
                    droplets</span
                  ><span class="good-hygiene"
                    >A balanced diet, regular exercise, and sufficient sleep
                    strengthen your immune system, making it better equipped to
                    fight infections​</span
                  ><span class="wear-mask">Practice Good Hygiene:</span>
                  <div class="maintain-healthy-lifestyle"></div>
                  <span class="border-50">Wear a Mask</span>
                  <div class="footer"></div>
                  <span class="flex-row-cf">Maintain a Healthy Lifestyle:</span>
                  <div class="vector"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-21"></div>
      </div>
      <div class="section-18">
        <div class="wrapper-22">
          <div class="section-19">
            <div class="wrapper-23">
              <div class="section-1a">
                <div class="img-8"></div>
                <div class="group-19">
                  <div class="pic-12"></div>
                  <div class="pic-13"></div>
                  <div class="img-9"></div>
                  <div class="img-a"></div>
                  <div class="vector-51"></div>
                  <div class="vector-52"></div>
                  <div class="vector-53"></div>
                  <div class="vector-54"></div>
                  <div class="vector-55"></div>
                  <div class="vector-56"></div>
                </div>
              </div>
            </div>
            <span class="dedicated-to-pioneering"
              >Dedicated to pioneering innovative technologies for accurate
              tuberculosis diagnosis. Together, we strive for a world free from
              tuberculosis and improved health for all.</span
            >
          </div>
          <span class="quick-link">Quick Link</span
          ><span class="resources">Resources</span
          ><span class="helpful-link">Helpful Link</span
          ><span class="home-57">Home</span
          ><span class="who-website">WHO Website</span
          ><span class="situation-reports">Situation Reports</span
          ><span class="about-us-58">About us</span
          ><span class="cdc-website">CDC Website</span
          ><span class="advice-for-public">Advice For Public</span
          ><span class="company-history">History</span
          ><span class="nhs-website">NHS Website</span
          ><span class="prevention-59">Prevention</span>
        </div>
        <div class="flex-row-5a">
          <span class="features">Features</span
          ><span class="harvard-health">Harvard Health</span>
          <div class="tb-symptoms">
            <span class="tb">TB </span><span class="symptoms">Symptoms</span>
          </div>
        </div>
        <div class="flex-row-cf-5b">
          <div class="regroup">
            <button class="item-link-5c"><div class="symbol-5d"></div></button>
            <div class="item-link-5e"><div class="symbol-5f"></div></div>
            <div class="item-link-60"><div class="symbol-61"></div></div>
            <button class="item-link-62"><div class="symbol-63"></div></button>
          </div>
          <span class="blog-page">Blog Page</span
          ><span class="history">History</span
          ><span class="donor-partners">Donor & Partners</span>
        </div>
        <div class="flex-row-afc">
          <span class="copyright">© Copyright 2024</span
          ><span class="faq-64">Faq</span
          ><span class="contact-65">Contact</span>
          <div class="vertical-divider"></div>
          <div class="vertical-divider-66"></div>
        </div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
